<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
     

		<section layout:fragment="contents" class="container">
			<div class=" contents">
				<div>
					<div  class="d-flex justify-content-between p-2 mt-4">
						<h2 class="font-weight-bold" th:text="|장바구니 (${cartCount})|" th:data-cart-count="${cartCount}" id="cartCount">장바구니(0)</h2>
						
						<div class="d-flex">
							<div class="d-flex align-items-center">
								<i class="bi bi-1-circle-fill logo-color mr-2"></i>
								<div class="mr-4">장바구니</div>
							</div>
							<div class="d-flex align-items-center">
								<i class="bi bi-2-circle-fill logo-color mr-2"></i>
								<div class="mr-4">사은품 선택</div>
							</div>
							<div class="d-flex align-items-center">
								<i class="bi bi-3-circle-fill logo-color mr-2"></i>
								<div class="mr-4">주문 / 결제</div>
							</div>
							<div class="d-flex align-items-center">
								<i class="bi bi-4-circle-fill logo-color mr-2"></i>
								<div class="mr-4">주문 완료</div>
							</div>
						</div>
					</div>
					<div class="order-menu w-100 my-4 d-flex align-items-center justify-content-between">
						<div class="d-flex">
							<i class="bi bi-check-circle-fill mx-3 h5 checkbox"></i>
							<input type="checkbox" class="d-none">
							<h5 class=" font-weight-bold">전체</h5>
						</div>
						<div class="d-flex mr-4">
							<button type="button" class="btn btn-light btn-outline-secondary mr-1"><i class="bi bi-heart"></i></button>
							<button type="button" class="btn btn-light btn-outline-secondary mr-1 deleteBtn"><i class="bi bi-trash"></i></button>
							<button type="button" class="btn btn-light btn-outline-secondary mr-1">품절/절판 삭제</button>
							<button type="button" class="btn btn-light btn-outline-secondary mr-1">구매 이력 확인</button>
						</div>
					</div>
				</div>
			
			
			<div class="d-flex"><!--  장바구니 정보- 배송정보 전체 묶는 div-->
			
					<div class="order-info-none d-flex align-items-center justify-content-center" th:if="${cartCount == 0}"><!--주문내역확인 페이지 없는 경우-->
						<div class="text-center">
							<i class="h1 bi bi-exclamation-circle-fill font-weight-bold text-secondary"></i>
							<div class="mt-3">
								<h6>장바구니가 비었습니다</h6>
							</div>
						</div>
					</div>


				<div th:if="${cartCount > 0}">
					<div th:each="cart:${cartList.cartDTOList}">
						<div class="cart-box d-flex align-items-center p-1 border"> <!-- 책 정보부분 (++++ ) -->
							<div th:each="item : ${cart.bookInfo.item}"> <!-- 닫기버튼 포함한 책 정보 묶는 div -->
								<button type="button" class="close deleteBtn" th:data-cart-id="${cart.id}"> <!--  닫기버튼  -->
									<span aria-hidden="true">&times;</span>
								</button>
							
								<div class="d-flex align-items-center">
									<div class="cart-check mr-4">
										<input type="checkbox" class="mx-3" th:data-cart-id="${cart.id}">
									</div>
									<div>
									<img th:src="${item.cover}" class="cart-book-img mx-2">
									</div>
									<div class="mx-3 cart-title"> <!--  책 정보 -->
										<h5 class="font-weight-bold" th:text="${item.title}">책 제목 어쩌구저쩌구저쩌구</h5>
										<div class="d-flex mt-2">
											<div class="text-success font-weight-bold mr-2" th:text="|(${item.discount}%)|">할인율</div>
											<del><div th:text="|${#numbers.formatInteger(item.priceStandard, 3, 'COMMA')} 원|">정가</div></del>
											<div class="font-weight-bold mx-1" th:text="|${#numbers.formatInteger(item.priceSales, 3, 'COMMA')} 원|">판매가</div>
											<div th:text="|(${#numbers.formatInteger(item.mileage, 3, 'COMMA')} point)|">point</div>
										</div>
									</div>
									<div class="d-flex align-items-center justify-content-center cart-price">
										<div>
											<h6 class="font-weight-bold  text-center my-4 priceUpdate" id="price" th:text="|${#numbers.formatInteger(item.priceSales, 3, 'COMMA')} 원|" th:data-price="${#numbers.formatInteger(item.priceSales, 3, 'COMMA')}">18,000 원</h6>
											<div class="d-flex align-items-center justify-content-center bg-light border rounded border-secondary">
												<button type="button" class="btn btn-0 subBtn" th:data-cart-id="${cart.id}" th:data-quantity-id="${cart.quantity}">-</button>
												<div class="mx-1 qty" th:text="${cart.quantity}">1</div>
												<button type="button" class="btn btn-0 addBtn" th:data-cart-id="${cart.id}" th:data-quantity-id="${cart.quantity}">+</button>
											</div>
										</div>
									</div>
								
									<div class="cart-deli mx-3"><!--  배송가능정보, 방문수랴ㅕㅇ정보  -->
										<div class="text-center border-bottom ">
												<h6>00/00일 출고예정</h6>
												<!-- 
												<div>(15시 이전 주문시 +2 일 뒤 몇시 배송 예정)</div>
												 -->
										</div>
										<div class="text-center">
												<h6>00시 이후 방문수령 가능</h6>
												<!-- 
											<button type="button" class="btn btn-0">방문수령</button>
												 -->
										</div>
									</div>
								</div><!-- 책 이미지 제목 수량 -->
							</div><!-- 닫기버튼 포함한 책 정보 묶는 div -->
	
						</div> <!--   cart-box  -->
					</div>
				</div>
						
				<div class="col-3 border p-2 cart-total-price ml-1" th:if="${cartCount > 0}">
					<table class="table table-borderless">
						<tr>
							<th>상품 금액</th>
							<td th:text="|${#numbers.formatInteger(cartList.totalPrice, 3, 'COMMA')} 원|" class="text-right"> >0000원</td>
						</tr>
						<tr>
							<th>배송비</th>
							<td th:if= "${cartList.shippingFee > 0}" th:text="|${#numbers.formatInteger(cartList.shippingFee, 3, 'COMMA')} 원|" class="text-right">0000원</td>
							<td th:if= "${cartList.shippingFee == 0}" class="text-success font-weight-bold text-right">무료 배송</td>
						</tr>
						<tr>
							<th>상품 할인</th>
							<td th:text="|${#numbers.formatInteger(cartList.totalDiscount, 3, 'COMMA')} 원|" class="text-right">0000원</td>
						</tr>
						<tr class=" border-top">
							<th>결제 예정 금액</th>
							<td th:text="|${#numbers.formatInteger(cartList.finalPrice, 3, 'COMMA')} 원|" class="text-right">0000원</td>
						</tr>
						<tr>
							<th>적립 예정 포인트</th>
							<td th:text="|${#numbers.formatInteger(cartList.totalPoints, 3, 'COMMA')} point|" class="text-right">000 point</td>
						</tr>
					</table>
						<button type="button" class="btn btn-primary my-3 w-100 " id="orderBtn">구매하기</button>
						<button type="button" class="btn btn-primary my-3 w-100">방문 수령</button>
				</div>
				
				<div class="col-3 border p-2 cart-total-price ml-1" th:if="${cartCount == 0}">
					<table class="table table-borderless">
						<tr>
							<th>상품 금액</th>
							<td class="text-right">원 </td>
						</tr>
						<tr>
							<th>배송비</th>
							<td class="text-right">원</td>
						</tr>
						<tr>
							<th>상품 할인</th>
							<td class="text-right">원</td>
						</tr>
						<tr class=" border-top">
							<th>결제 예정 금액</th>
							<td class="text-right">원</td>
						</tr>
						<tr>
							<th>적립 예정 포인트</th>
							<td class="text-right">point</td>
						</tr>
					</table>
						<button type="button" class="btn btn-primary my-3 w-100 " id="orderBtn">구매하기</button>
						<button type="button" class="btn btn-primary my-3 w-100">방문 수령</button>
				</div>
			
				
			</div>
					
		<a href="/nunubooks/main" class="btn btn-info col-8 mt-4">더 고르러 가기</a>
			
			
			
			</div><!-- contents -->
		
		</section>

		<script layout:fragment="script">
		
		$(document).ready(function(){

	
			
			$("#orderBtn").on("click",function(){

				let cartCount = $("#cartCount").data("cart-count");
				
				if(cartCount == 0){
					 $(this).prop("disabled", true);  
					 alert("장바구니가 비어있습니다");
				        return;
				}
				
				location.href="/nunubooks/order/order";
			});
			
			// subBtn클릭시 quantity--;
			$(".subBtn").on("click",function(){

//				alert("--!!")
				let cartId = $(this).data("cart-id");
				let quantity = $(this).data("quantity-id");
				
				if(quantity > 1){ // quantity가 1보다 많으면 1 줄어든다 

					quantity--;
			        $(this).data("quantity-id", quantity); // data-quantity-id 업데이트
			        $(this).siblings(".qty").text(quantity); // 화면에 수량 업데이트
			        

			        // 서버에 수량 업데이트 요청
			        $.ajax({
			            type: "put",
			            url: "/cart/update",
			            data: { "id": cartId, "quantity": quantity },
			            success: function (response) {
			                alert("수량이 업데이트되었습니다.");
			                location.reload();
			            },
			            error: function () {
			                alert("수량 업데이트 실패!");
			            }
			        });
			        
			        
				} 
				//if(quantity <= 1){ // 1 미만이 되면 삭제된다 
				else{
//					 location.href = "/cart/delete?id=" + cartId;
					
					$.ajax({
						type:"delete"
						,url:"/cart/delete"
						,data:{"id":cartId}
						,success:function(response){
							if(response.result == "success"){
							alert("선택하신 물품이 삭제되었습니다");
							location.reload();
							} else {
							alert("삭제 실패!")
							}
						} 
						,error:function(){
							alert("삭제 오류!");
						}
						
					});
				}
			
			});
			
			
			// addBtn 클릭시 quantity ++
			$(".addBtn").on("click",function(){

//				alert("++!!")
				let cartId = $(this).data("cart-id");
				let quantity = $(this).data("quantity-id");
				
				quantity++;
				
				$(this).data("quantity-id", quantity); // 업데이트된 수량 저장
			    $(this).siblings(".qty").text(quantity); // 화면에 수량 반영
			    
		        $.ajax({
		            type: "put",
		            url: "/cart/update",
		            data: { "id": cartId, "quantity": quantity },
		            success: function (response) {
		                alert("수량이 업데이트되었습니다.");
		                location.reload();
		            },
		            error: function () {
		                alert("수량 업데이트 실패!");
		            }
		        });
			    
			});
			
			
			
			
			
			
			
			
			$(".deleteBtn").on("click",function(){

				let cartId = $(this).data("cart-id");
				
				
			$.ajax({

				type:"delete"
				,url:"/cart/delete"
				,data:{"id":cartId}
				,success:function(response){
					if(response.result == "success"){
					alert("선택하신 물품이 삭제되었습니다");
					location.reload();
					} else {
					alert("삭제 실패!")
					}
				} 
				,error:function(){
					alert("삭제 오류!");
				}
				
			});
				
				
			});
		
		});
		</script>

</html>