<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
     

		<section layout:fragment="contents">
		<div class="d-flex container">
			<nav class="nav flex-column category border-right mr-4">
			<div class="mt-4 mypage mr-1 border-bottom">
				<h4 class="font-weight-bold mt-3">마이 페이지</h4>
				<h6 class="text-right mr-2 mt-2">김뫄뫄님</h6>
			</div>
				<div class="mr-1 text-center  mt-4">
					<h6 class="font-weight-bold mb-2">쇼핑 내역</h6>
					  <a class="nav-link text-dark" href="/nunubooks/order/orderHistory">주문 내역</a>
					  <!-- 
					  <a class="nav-link text-dark" href="#">카테고리2</a>
					  <a class="nav-link text-dark" href="#">카테고리3</a>
					  <a class="nav-link text-dark" href="#">카테고리4</a>
					   -->
				</div>
			</nav>
			<div class="contents">
			
					<div  class="order-header d-flex justify-content-between align-items-center border-bottom">
						<h3 class="font-weight-bold" >주문 / 배송 목록</h3>
						
						<div class="d-flex">
							<button type="button" class="btn btn-outline-secondary">
								<i class="bi bi-calendar4"></i><span class="ml-1">상세 조회</span>
							</button>
						</div>
					</div>
			
				<div class="border p-2 my-4 order-box">
					<table class="table">
						<tr>
							<th>주문일자</th>
							<th>주문번호</th>
							<th>주문금액</th>
							<th>주문상태</th>
						</tr>
						<tr>
							<td>2025/00/00</td>
							<td>11111</td>
							<td>
							<div>12124원</div>
							<div>(000point 적립)</div>
							</td>
							<td>주문완료</td>
						</tr>
						
					</table>
				</div>
				
				<div class="border p-2 my-4 order-box">
				<h5 class="font-weight-bold">주문자 정보</h5>
					<table class="table">
					<tr>
						<th>배송지 정보</th>
						<td>
							<div>
							이름 /전화번호
							</div>
							<div>
							주소
							</div>
						</td>
					</tr>
					<tr>
						<th>배송 요청사항</th>
						<td>
							<div>
							어쩌구저쩌구 해주세요
							</div>
						</td>
					</tr>
					<tr>
						<th>결제수단</th>
						<td>
						<span>신용카드</span>
						<span>어쩌구카드(*000)</span>
						</td>
					</tr>
					</table>
				</div>
				
				
				<div class="order-box"><!--주문내역확인 페이지 리스트-->
					<table class="table">
						<thead>
							<tr>
								<th  colspan="2">주문 상품 정보</th>
								<th class="text-success">
								<button type="button" class="btn btn-outline-secondary">
										<span>배송조회</span>
									</button>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr class="order-bookInfo" >
								<td class="order-book-img bg-info">
									<img src="#" >
								</td>
								<td class="order-book-title align-middle">
									<div class="font-weight-bold" >책 제목 어쩌구저쩌구저쩌구 </div>
									<div>수량 :1개 </div>
								</td>
								<td class="order-book-amount align-middle text-center">
									<div class="font-weight-bold">00000원</div>
								</td>
							</tr>
							
						</tbody>
							
					</table>
				
				</div>
						
			
			
			
			</div><!-- contents -->
		</div>
		</section>



	<script layout:fragment="script">
	</script>

</html>