<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
     

		<section layout:fragment="contents" class="container">
			<div class=" contents">
				<div>
					<div  class="d-flex justify-content-between mt-3">
						<h2 class="font-weight-bold" >주문/결제</h2>
						
						<div class="d-flex">
							<div class="d-flex align-items-center">
								<i class="bi bi-1-circle-fill logo-color mr-2"></i>
								<div class="mr-4">장바구니</div>
							</div>
							<div class="d-flex align-items-center">
								<i class="bi bi-2-circle-fill logo-color mr-2"></i>
								<div class="mr-4">사은품 선택</div>
							</div>
							<div class="d-flex align-items-center">
								<i class="bi bi-3-circle-fill logo-color mr-2"></i>
								<div class="mr-4">주문 / 결제</div>
							</div>
							<div class="d-flex align-items-center">
								<i class="bi bi-4-circle-fill logo-color mr-2"></i>
								<div class="mr-4">주문 완료</div>
							</div>
						</div>
					</div>
				</div>
			
			
			<div class="d-flex"><!--주문정보- 배송정보 전체 묶는 div-->

			<div> <!--  배송정보, 주문상품 묶는 div -->
				<div class="border rounded order-box p-1"> <!--  주문자 정보 -->
				<div class="ml-2"><!-- 박스 안에서 마진값 전체로 주는 역할 -->
			
					<h4 class="font-weight-bold my-3 ">배송지 정보</h4>
					<div class="d-flex">
						<div class="mr-2">
							<label  class="mr-1"><input type="radio" name="addressInfo" id="userAdrBtn" checked>기본 배송지</label>
						</div>
						<div>
							<label class="mr-1"><input type="radio" name="addressInfo" id="newAdrBtn">신규 배송지 입력</label>
						</div>
					</div>
					
					<div class="order-address">
						<div class="my-3">
						 <h5 class="font-weight-bold">받는 분</h5>
						 <div><!--  사용자의 정보를 value 로 불러와서 출력시키기 -->
						 	<input type="text" placeholder="이름을 입력해 주세요" class="form-control"  th:value="${user.name}">
						 </div>
						 <input type="text" placeholder="휴대폰 번호를 입력해주세요" class="form-control" th:value="${user.phoneNumber}">
						</div>
						
						<div class="my-3">
						 <h5 class="font-weight-bold">주소</h5>
						 <button type="button" class="btn btn-outline-secondary w-100" id="postCodeBtn"> <i class="bi bi-search mr-3"></i>주소 찾기</button>
						 	<div class="user-address">
						 		<input type="text" class="form-control w-25 mt-2"  placeholder="우편번호" id="postcode" th:value="${user.postcode}">
						 		<input type="text" class="form-control mt-2" placeholder="기본배송지" id="addr" th:value="${userAddr}">
						 		<input type="text" class="form-control mt-2" placeholder="상세주소" id="detailAddr" th:value="${detailAddr}">
						 	</div>
						 <div><input type="checkbox" checked class="mt-3 mr-1">기본배송지로 설정</div>
						</div>
					</div>
					</div><!-- 박스 안에서 마진값 전체로 주는 역할 -->
				
				</div>
				
				
				<div class="border rounded order-box p-1 mt-4"> <!--  결제 정보 -->
					<div class="ml-2"><!-- 박스 안에서 마진값 전체로 주는 역할 -->
						<div class="border-bottom">
							<h5 class="font-weight-bold my-3">결제수단</h5>
						</div>
						<div class="my-3">
							<table class="table table-borderless w-75 font-weight-bold">
								<tr>
									<td>보유 포인트</td>
									<td class="d-flex">
										<span class="text-success"> 000</span>
										<span> 원</span>
									</td>
									<td>
										<input type="text" class="form-control text-right font-weight-bold" placeholder="000원">
									</td>
									<td>
										<button type="button" class="btn btn-outline-secondary w-10 font-weight-bold">사용</button>
									</td>
								</tr>
							</table>
						</div>
						<div class="my-3 border-top">
							<div class="d-flex mt-3 ml-1">
								<div class="mr-2">
									<label  class="mr-1"><input type="radio" name="paymentSelect" id="creditRadio" checked>신용카드</label>
								</div>
								<div>
									<label class="mr-1"><input type="radio" name="paymentSelect" id="bankRadio">무통장입금</label>
								</div>
							</div>
						</div>
						<div class="my-3 d-flex">
							<select class="form-control w-25">
								<option>신용카드 선택</option>
								<option>삼성카드</option>
								<option>신한카드</option>
								<option>우리카드</option>
							</select>
							<select class="form-control w-25 ml-3">
								<option>할부 선택</option>
								<option>일시불</option>
								<option>2개월</option>
								<option>3개월</option>
							</select>
						</div>
						
						<div class="my-3 d-flex"> <!-- d-none 되어야함 -->
							<select class="form-control w-25">
								<option>은행을 선택해주세요</option>
								<option>국민은행</option>
								<option>신한은행</option>
								<option>우리은행</option>
							</select>
							<input type="text" class="form-control w-25 ml-3 " placeholder="입금자명">
						</div>
					
					</div><!-- 박스 안에서 마진값 전체로 주는 역할 -->
				</div>
				
				
				<div class="border rounded order-box p-1 mt-4"> <!--  주문하려는 책 정보 -->
				<div class="ml-2"><!-- 박스 안에서 마진값 전체로 주는 역할 -->
					<h4 class="font-weight-bold my-3" th:text="|주문 상품 (${orderDTO.totalDTO.cartCount})|">주문 상품 (0)</h4>
					<!-- 
					<div th:if="${order.totalDTO.cartDTOList}" >
					<p th:text="${#lists.size(order.totalDTO.cartDTOList)}">리스트 크기</p>
					</div>
					 -->
					<table class="table" th:each="orderBook : ${orderDTO.totalDTO.cartDTOList}" >
						<tr class="order-bookInfo">
							<td class="order-book-img">
								<img th:src="${orderBook.bookInfo.item[0].cover}" >
							</td>
							<td class="order-book-title align-middle">
								<div class="font-weight-bold" th:text="${orderBook.bookInfo.item[0].title}">책 제목 어쩌구저쩌구저쩌구 </div>
							</td>
							<td class="order-book-amount align-middle text-center">
								<div class="font-weight-bold" th:text="|${orderBook.quantity}개|">1개</div>
							</td>
							<td class="order-book-price align-middle  text-center">
								<div class="font-weight-bold text-primary" th:text="|${#numbers.formatInteger(orderBook.bookInfo.item[0].priceSales, 3, 'COMMA')} 원|">판매가</div>
								<del><div th:text="|${#numbers.formatInteger(orderBook.bookInfo.item[0].priceStandard, 3, 'COMMA')} 원|"> 정가</div></del>
							</td>
						</tr>
						
					</table>
					</div><!-- 박스 안에서 마진값 전체로 주는 역할 -->
				</div>




				
						
						
						
			</div><!--  배송정보, 주문상품 묶는 div -->
						
					<div class="col-3 border p-2 cart-total-price ml-1"><!--  결제금액 정보 -->
						
						<table class="table table-borderless">
							<tr>
								<th>상품 금액</th>
								<td th:text="|${#numbers.formatInteger(orderDTO.totalDTO.totalPrice, 3, 'COMMA')} 원|"> 0000원</td>
							</tr>
							<tr>
								<th>배송비</th>
								<td th:if= "${orderDTO.totalDTO.shippingFee > 0}" th:text="|${#numbers.formatInteger(orderDTO.totalDTO.shippingFee, 3, 'COMMA')} 원|">0000원</td>
								<td th:if= "${orderDTO.totalDTO.shippingFee == 0}" class="text-success font-weight-bold">무료 배송</td>
							</tr>
							<tr>
								<th>상품 할인</th>
								<td th:text="|${#numbers.formatInteger(orderDTO.totalDTO.totalDiscount, 3, 'COMMA')} 원|">0000원</td>
							</tr>
							<tr class=" border-top">
								<th>결제 예정 금액</th>
								<td th:text="|${#numbers.formatInteger(orderDTO.totalDTO.finalPrice, 3, 'COMMA')} 원|" class="text-primary font-weight-bold">0000원</td>
							</tr>
							<tr>
								<th>적립 예정 포인트</th>
								<td th:text="|${#numbers.formatInteger(orderDTO.totalDTO.totalPoints, 3, 'COMMA')} 원|">000 point</td>
							</tr>
						</table>
							<button type="button" class="btn btn-primary my-3 w-100">결제하기</button>
							<button type="button" class="btn btn-primary my-3 w-100">수령 매장 선택</button>
							<!-- 
						<button type="button" class="btn btn-primary my-3 w-100">이전 화면으로</button>
							 -->
					</div>
				
			
				
			</div>
					
			
			
			
			</div><!-- contents -->
		
		</section>

		<script layout:fragment="script">
		$(document).ready(function(){


		//userAdrBtn을 누르면 user가 등록해둔 정보가 출력됨 
		//newAdrBtn을 누르면 필드 초기화(비워짐)
		let name = $('#userName').val();
		let phone = $('#userPhone').val();
		let postcode = $('#postcode').val();
		let addr = $('#addr').val();
		let detailAddr = $('#detailAddr').val();
		
		
		 $("#userAdrBtn").on('click', function() {
	            // user 정보 채우기
	            $('#userName').val(name);
	            $('#userPhone').val(phone);
	            $('#postcode').val(postcode);
	            $('#addr').val(addr);
	            $('#detailAddr').val(detailAddr);
	        });

	        // 신규 배송지 입력 선택시
	        $("#newAdrBtn").on('click', function() {
	            // 입력 필드 비우기
	            $('#userName').val('');
	            $('#userPhone').val('');
	            $('#postcode').val('');
	            $('#addr').val('');
	            $('#detailAddr').val('');
	            
	            // 배송지 저장
	        });
		
		
		
		// 다음 주소 api
		$("#postCodeBtn").on("click",function(){

			
			new daum.Postcode({

	            oncomplete: function(data) {
	                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

	                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
	                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	                var addr = ''; // 주소 변수
	                var extraAddr = ''; // 참고항목 변수

	                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
	                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
	                    addr = data.roadAddress;
	                } else { // 사용자가 지번 주소를 선택했을 경우(J)
	                    addr = data.jibunAddress;
	                }

	                
	                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
	                if(data.userSelectedType === 'R'){
	                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
	                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
	                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
	                        extraAddr += data.bname;
	                    }
	                    // 건물명이 있고, 공동주택일 경우 추가한다.
	                    if(data.buildingName !== '' && data.apartment === 'Y'){
	                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
	                    }
	                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
	                    if(extraAddr !== ''){
	                        extraAddr = ' (' + extraAddr + ')';
	                    } 
	                } else {
	                        document.getElementById("address").value = '';
	                }
	                    
	                    
	                // 우편번호와 주소 정보를 input 박스에 넣는다.
	                document.getElementById('postcode').value = data.zonecode;
	                document.getElementById("addr").value = addr;
	                document.getElementById("addr").value += extraAddr;
	                // 커서를 상세주소 필드로 이동한다.
	                document.getElementById("detailAddr").focus();
	                
	            } 
			// 자바문법 위랑 통일 시키기 
	        
			
			
	        }).open();
			
		
		});
		
	});	
		</script>

</html>