<?xml version="1.0" encoding="UTF-8"?>

 <mapper namespace="com.jhb0430.nunubooks.order.repository.OrderRepository">
 
	 <insert id="" parameterType="map">
	 		INSERT INTO 
	 				`order`
				(
					`userId`
					,`name`
					,`phoneNumber`
					,`postcode`
					,`address`
					, `totalPrice`
					,`shippingFee`
					, `payments`
				)
				VALUE
				(
					#{userId}
					,#{name}
					,#{phoneNumber}
					,#{postcode}
					,#{address}
					,#{totalPrice}
					,#{shippingFee}
					,#{payments}
				)
	 				
	 	</insert>
	 	
</mapper>