<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
     

		<section layout:fragment="contents">
			
		
		<div class="d-flex"> <!--  카테고리/ 결과 나란히 -->
		
		
				<nav class="nav flex-column col-2 border-right text-center mr-4">
					<h3 class="bg-secondary font-weight-bold my-4">국내도서</h3>
					  <a class="nav-link text-dark" href="#">카테고리1</a>
					  <a class="nav-link text-dark" href="#">카테고리2</a>
					  <a class="nav-link text-dark" href="#">카테고리3</a>
					  <a class="nav-link text-dark" href="#">카테고리4</a>
				</nav>
		
		
		<div class="contents">
			<div>
				<div class="d-flex align-items-center justify-content-between mt-4">
					 <div class="d-flex align-items-center">
						 <h3 class="font-weight-bold seller-option" >주간 베스트셀러</h3>
						 <h5 class="font-weight-bold ml-1 week-info" th:text="|(${nowYear}년  ${nowMonth}월 ${nowWeek}주)|"></h5>
					 </div>
					 <div class="d-flex">
						 <select class="form-control select mx-2" id="yearSel">
						</select>
						 <select class="form-control select mx-2" id="monthSel">
						</select>
						 <select class="form-control select mx-2" id="weekSel">
							 <option value="1" th:selected="${nowWeek == 1 or week ==1}">1주</option>
							 <option value="2" th:selected="${nowWeek == 2 or week ==2}">2주</option>
							 <option value="3" th:selected="${nowWeek == 3 or week ==3}">3주</option>
							 <option value="4" th:selected="${nowWeek == 4 or week ==4}">4주</option>
						</select>
					 <!-- 
						<button type="button" class="btn btn-secondary mx-1" id="weekBtn" value="week">주간</button>
						<button type="button" class="btn btn-secondary mx-1" id="monthBtn" value="month">월간</button>
						<button type="button" class="btn btn-secondary mx-1" id="yearBtn" value="year">연간</button>
					  -->
					 </div>
				</div>
				
				<div class="d-flex justify-content-end align-items-center my-3">
					
					<div class="d-flex">
						<select class="form-control select mx-2" id="maxResultSel">
							<option th:selected="${maxResults == 10}" value="10">10개씩 보기</option>
							<option th:selected="${maxResults == 20}" value="20">20개씩 보기</option>
							<option th:selected="${maxResults == 50}" value="50">50개씩 보기</option>
						</select>
						<button type="button" class="btn btn-light btn-outline-secondary mr-1"><i class="bi bi-heart"></i></button>
						<button type="button" class="btn btn-light btn-outline-secondary mr-1"><i class="bi bi-cart"></i></button>
						<button type="button" class="btn btn-light btn-outline-secondary mr-1" id="outofStockBtn" value="0">품절/절판 제외</button>
					</div>
				</div>
			</div>	
				
			<div class="d-flex align-items-center book-info p-2 border my-3 mx-1" th:each="book, status: ${seller.item}">
				<div class="mx-3 info-checkbox">
				<span th:text="${status.count}">1</span>
					<input type="checkbox" class="item-checkbox" th:data-item-id="${book.itemId}">
				</div>
				<img th:src="${book.cover}" class="info-img">
				<div class="mx-3 info-title">
					<a th:href="|/nunubooks/product?itemId=${book.itemId}|" class="text-dark">
						<h5 class="font-weight-bold" th:text="${book.title}">책 제목 어쩌구저쩌구</h5>
					</a>
					<h6 th:text="|${book.author}|">저자</h6>
					<div class="d-flex align-items-center">
						<h6 th:text="${book.publisher}">출판사</h6>
						<h6 class= "ml-3" th:text="${book.pubDate}">출판일</h6>
					</div>
				</div>
					<!-- 
					<div class="mx-3 info-price">품절</div>
					<div class="mx-3 info-price" th:if="${book.stockStatus =='절판'}">절판</div>
					<div class="mx-3 info-price" th:if="${book.stockStatus ==''  or book.stockStatus =='예약판매'}">
					 -->
				 <div>
					<del><span th:text="|${#numbers.formatInteger(book.priceStandard, 3, 'COMMA')} 원|">정가 </span></del>
				<span class="text-success font-weight-bold h6" th:text="|(${book.discount}%)|">(10%)</span> 
				<span class="font-weight-bold text-primary ml-1" th:text="|${#numbers.formatInteger(book.priceSales, 3, 'COMMA')} 원|">할인가</span>
				<div class="font-weight-bold text-info ml-1 text-small" th:text="|(${#numbers.formatInteger(book.mileage, 3, 'COMMA')} point)|">포인트</div>
				</div>
				<div class="info-cart" >
					<div class="text-center my-3">
						<button type="button" class="btn btn-outline-secondary cartBtn" th:data-item-id="${book.itemId}">장바구니</button>
					</div>
					<div class="text-center my-3">
						<button type="button" class="btn btn-outline-secondary" th:data-item-id="${book.itemId}">바로구매</button>
					</div>
				</div>
			</div>
	
	</div>	<!--  전체 div -->
	
		</section>

<script layout:fragment="script">


$(document).ready(function(){
	
	// 주간/ 월간/ 연간 버튼을 누르면 주간 베스트셀러, 월간 베스트셀러, 연간 베스트셀러 목록을 띄워줌
	// 품절/절판 제외 버튼을 누르면 outofStock = 1;이 된다
	// 10개 , 20개, 50개씩 select를 누르면 10, 20, 50개씩 출력.
	// 파라미터값엔 전체 다 필요하니까 초기변수로 주기

	let outofStock = 0;
	let maxResults = 10;
	
	setDateSelectBox();

	function setDateSelectBox(){
		var now = new Date();
		var now_year = now.getFullYear();
		var now_month = now.getMonth() + 1;
		
		
		// 2005년 부터 올해까지
		for(var i = now_year; i >= 2005; i--){
		$("#yearSel").append("<option value='"+ i +"'>"+ i + " 년" +"</option>");
		}
		// 월
		for(var i = 1; i <= 12; i++){
			 if (i === now_month) {
		            $("#monthSel").append("<option value='" + i + "' selected>" + i + " 월" + "</option>");
		        } else {
		            $("#monthSel").append("<option value='" + i + "'>" + i + " 월" + "</option>");
		        }
		}
	}
	

	function updateBestSeller() {
	    let maxResults = $("#maxResultSel").val() || 10;
	    let outofStock = $("#outofStockBtn").val() || 0;
	    let year = $("#yearSel").val(); 
	    let month = $("#monthSel").val(); 
	    let week = $("#weekSel").val();

	    let baseUrl = "/nunubooks/bestSeller";
	    // history.pushState() 새로고침 안되게함
//	    history.pushState(null, null, baseUrl 
		
		location.href = baseUrl 
	        + "?maxResults=" + maxResults 
	        + "&outofStock=" + outofStock
	        + "&Year=" + year
	        + "&Month=" + month
	        + "&Week=" + week;
//	        );
//		$(this).siblings(".week-info").text(`${year}년 ${month}월 ${week}주`);
	    $(".week-info").text(`${year}년 ${month}월 ${week}주`);
/*	    
	    $.ajax({
				type:"get"
				,url:"/nunubooks/bestSeller"
				,data:{"maxResults":maxResults,"outofStock":outofStock,"year":year,"month":month,"week":week}
			    ,success:function(){
			    	 $(".week-info").text(`${year}년 ${month}월 ${week}주`);
				}
			    ,error:function(){
		
			    	alert("오류!");
			    }
	    });
	*/    
	    
	    
	}

	
	
	$("#maxResultSel").on("change", updateBestSeller);
	
	
	
	
	
	// 장바구니 추가
	$(".cartBtn").on("click",function(){
		let itemId = $(this).data("item-id");
        let quantity = 1;
// 로그인 안해도 장바구니에 저장될 수 있도록         
		$.ajax({

			type:"post"
			,url:"/cart/add"
			,data:{"itemId":itemId,"quantity":quantity}
			,success:function(response){

				if(response.result =="success"){
					alert("담기 성공!");
				} else {
					alert("담기 실패")
				}
			}
			,error:function(){
				alert("오류!!")
			}
		});
		
	});
	
	
	$("#outofStockBtn").on("click",function(){
		maxResults = $("#maxResultSel").val() || 10;
		outofStock = $(this).val()||0;
		
       
       if (outofStock === "0") {
			outofStock = 1; 
			 $(this).val("1").text("품절/절판 포함");
		} else {
			outofStock = 0; // 버튼의 value 값을 0으로 변경
			 $(this).val("0").text("품절/절판 제외");
		}
       
       let year = $("#yearSel").val(); 
	    let month = $("#monthSel").val(); 
	    let week = $("#weekSel").val();

	    
	    let baseUrl = "/nunubooks/bestSeller";
	    // history.pushState() 새로고침 안되게함
	    
//	    history.pushState(null, null, baseUrl 
	  location.href = baseUrl 
	        + "?maxResults=" + maxResults 
	        + "&outofStock=" + outofStock
	        + "&Year=" + year
	        + "&Month=" + month
	        + "&Week=" + week;
//	        );

	    $(".week-info").text(`${year}년 ${month}월 ${week}주`);
		 
       });
	$("#maxResultSel").on("change", updateBestSeller);
		 
	
	
	// sel 버튼 누르면 .. 함수참조!!! 
	$("#yearSel, #monthSel, #weekSel").on("change", updateBestSeller);
	

	
	/*
	
	$("#maxResultSel").on("change",function(){
        maxResults = $(this).val() || 10;
		outofStock = $("#outofStockBtn").val()||0;
		let textYear = $("#yearSel").val(); 
		let textMonth = $("#monthSel").val(); 

		let year = textYear.replace("년", ""); 
		let month = textMonth.replace("월", ""); 
		let week = $("#weekSel").val();
		 
		  let baseUrl = "/nunubooks/bestSeller";
		  location.href = baseUrl 
		  + "?maxResults=" + maxResults 
				  + "&outofStock=" + outofStock
				  +"&Year=" + year
				  +"&Month=" + month
				  +"&Week=" + week;
	});
	
	
	
	
	
	// 장바구니 추가
	$(".cartBtn").on("click",function(){
		let itemId = $(this).data("item-id");
        let quantity = 1;
// 로그인 안해도 장바구니에 저장될 수 있도록         
		$.ajax({

			type:"post"
			,url:"/cart/add"
			,data:{"itemId":itemId,"quantity":quantity}
			,success:function(response){

				if(response.result =="success"){
					alert("담기 성공!");
				} else {
					alert("담기 실패")
				}
			}
			,error:function(){
				alert("오류!!")
			}
		});
		
	});
	
	
	
	$("#outofStockBtn").on("click",function(){
		maxResults = $("#maxResultSel").val() || 10;
		outofStock = $(this).val()||0;
		
       
       if (outofStock === "0") {
			outofStock = 1; 
			 $(this).val("1").text("품절/절판 포함");
		} else {
			outofStock = 0; // 버튼의 value 값을 0으로 변경
			 $(this).val("0").text("품절/절판 제외");
		}
       let textYear = $("#yearSel").val(); 
		let textMonth = $("#monthSel").val(); 

		let year = textYear.replace("년", ""); 
		let month = textMonth.replace("월", ""); 
		let week = $("#weekSel").val();
		 
		  let baseUrl = "/nunubooks/bestSeller";
		  
		  location.href = baseUrl 
		  + "?maxResults=" + maxResults 
				  + "&outofStock=" + outofStock
				  +"&Year=" + year
				  +"&Month=" + month
				  +"&Week=" + week;
 
		 
       });
	
	
	
	$("#weekSel").on("change",function(){

		maxResults = $("#maxResultSel").val() || 10;
		outofStock = $("#outofStockBtn").val()||0;
		
		let textYear = $("#yearSel").val(); 
		let textMonth = $("#monthSel").val(); 

		let year = textYear.replace("년", ""); 
		let month = textMonth.replace("월", ""); 
		let week = $("#weekSel").val();
		 
		  let baseUrl = "/nunubooks/bestSeller";
		  location.href = baseUrl 
		  + "?maxResults=" + maxResults 
				  + "&outofStock=" + outofStock
				  +"&Year=" + year
				  +"&Month=" + month
				  +"&Week=" + week;
		  
		  $(this).siblings(".week-info").text(textYear + " " + textMonth + " " + week +"주"); 
	});
	
	
	$("#monthSel").on("change",function(){

		maxResults = $("#maxResultSel").val() || 10;
		outofStock = $("#outofStockBtn").val()||0;
		
		let textYear = $("#yearSel").val(); 
		let textMonth = $("#monthSel").val(); 

		let year = textYear.replace("년", ""); 
		let month = textMonth.replace("월", ""); 
	
		let week = $("#weekSel").val();
 		 
	  let baseUrl = "/nunubooks/bestSeller";
	  location.href = baseUrl 
	  + "?maxResults=" + maxResults 
			  + "&outofStock=" + outofStock
			  +"&Year=" + year
			  +"&Month=" + month
			  +"&Week=" + week;
 
	  $(this).siblings(".week-info").text(textYear + " " + textMonth + " " + week +"주"); 
	});
	
	$("#yearSel").on("change",function(){

		maxResults = $("#maxResultSel").val() || 10;
		outofStock = $("#outofStockBtn").val()||0;
		let textYear = $("#yearSel").val(); 
		let textMonth = $("#monthSel").val(); 

		let year = textYear.replace("년", ""); 
		let month = textMonth.replace("월", ""); 
	
		let week = $("#weekSel").val();
 		 
	  let baseUrl = "/nunubooks/bestSeller";
	  location.href = baseUrl 
	  + "?maxResults=" + maxResults 
			  + "&outofStock=" + outofStock
			  +"&Year=" + year
			  +"&Month=" + month
			  +"&Week=" + week;
 
	  $(this).siblings(".week-info").text(textYear + " " + textMonth + " " + week +"주"); 
 
	});
*/	

	
});


</script>

</html>