<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
     

		<section layout:fragment="contents" class="container">
				<!-- banner
				<div class="bg-warning banner d-flex justify-content-around">
					<div>
						<img alt="추천 동화 10선 "src="/static/image/teddy.jpg" class="banner-image">
						<span class="image-text">아가야들이 좋아하는 동화 10선</span>
					</div>
					<div>
						<img src="/static/image/car.jpg" class="banner-image">
						<span class="image-text">어쩌구 저쩌구 추천 30작</span>
					</div>
				
				</div>
				 -->
				
					<div class="border main-box" >
						<h2 class="font-weight-bold m-3 ">새로 나온 도서</h2>
						<div class="d-flex align-items-center"> <!--  리스트 옆으로 출력시키기 위함임 -->
							<div th:each="newBook : ${newBook.item}">
								<div class="ml-3 main-bookbox">
									<div>
										<img th:src="${newBook.cover}" class="main-img">
									</div>
									<div class="main-info mt-2">
									<a th:href="|/nunubooks/product?itemId=${newBook.itemId}|" class="text-dark main-title-info">
										<h5 class="font-weight-bold" th:text="${newBook.title}">책이름</h5>
									</a>
									<div class="main-pub-info mt-1">
									<div th:text="${newBook.author}">작가 이름</div>
									<div th:text="${newBook.publisher}">출판사 이름</div>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
					<div class="border main-box">
						<h2 class="font-weight-bold m-3">베스트셀러</h2>
						<div class="d-flex " > <!--  리스트 옆으로 출력시키기 위함임 -->
							<div th:each="best : ${best.item}">
								<div  class="ml-3 main-bookbox ">
									<div>
										<img th:src="${best.cover}" class="main-img">
									</div>
									<div class="main-info mt-2">
										<a th:href="|/nunubooks/product?itemId=${best.itemId}|" class="text-dark main-title-info">
											<h5 class="font-weight-bold" th:text="${best.title}">책이름</h5>
										</a>
										<div class="main-pub-info mt-1">
										<span th:text="${best.author}">작가 이름</span>
										<span th:text="${best.publisher}">출판사 이름</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="border main-box">
						<h2 class="font-weight-bold m-3">화제의 신간</h2>
							<div class="d-flex"> <!--  리스트 옆으로 출력시키기 위함임 -->
								<div th:each="special : ${special.item}">
									<div  class="ml-3 main-bookbox">
									<div>
										<img th:src="${special.cover}" class="main-img">
									</div>
									<div class="main-info mt-2">
										<a th:href="|/nunubooks/product?itemId=${special.itemId}|" class="text-dark main-title-info">
											<h5 class="font-weight-bold" th:text="${special.title}">책이름</h5>
										</a>
										<div class="main-pub-info mt-1">
										<span th:text="${special.author}">작가 이름</span>
										<span th:text="${special.publisher}">출판사 이름</span>
										</div>
									</div>
									</div>
								</div>
							</div>
					</div>
				
		
		
		</section>

<script layout:fragment="script"></script>

</html>