<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
     

		<section layout:fragment="contents" class="container">
				<div class="bg-warning banner d-flex justify-content-around"><!-- banner -->
					<div>
						<img alt="추천 동화 10선 "src="/static/image/teddy.jpg" class="banner-image">
						<span class="image-text">아가야들이 좋아하는 동화 10선</span>
					</div>
					<div>
						<img src="/static/image/car.jpg" class="banner-image">
						<span class="image-text">어쩌구 저쩌구 추천 30작</span>
					</div>
				
				</div>
				
					<div class="bg-info">
						<h2 class="font-weight-bold">새로 나온 도서</h2>
						<div class="d-flex"> <!--  리스트 옆으로 출력시키기 위함임 -->
								<div>
									<img src="/static/image/car.jpg" class="info-img">
									<h5 class="font-weigh-bold">책이름</h5>
									<span>작가 이름</span>
									<span>출판사 이름</span>
								</div>
							</div>
					</div>
					<div class="bg-secondary">
						<h2 class="font-weight-bold">베스트셀러</h2>
						<div class="d-flex"> <!--  리스트 옆으로 출력시키기 위함임 -->
								<div>
									<img src="/static/image/car.jpg" class="info-img">
									<h5 class="font-weigh-bold">책이름</h5>
									<span>작가 이름</span>
									<span>출판사 이름</span>
								</div>
							</div>
					</div>
					<div class="bg-warning ">
						<h2 class="font-weight-bold">화제의 신간</h2>
							<div class="d-flex"> <!--  리스트 옆으로 출력시키기 위함임 -->
								<div>
									<img src="/static/image/car.jpg" class="info-img">
									<h5 class="font-weigh-bold">책이름</h5>
									<span>작가 이름</span>
									<span>출판사 이름</span>
								</div>
							</div>
					</div>
				
		
		
		</section>

<script layout:fragment="script"></script>

</html>