<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
     

		<section layout:fragment="contents" class="container">
				<div class="bg-warning banner d-flex justify-content-around"><!-- banner -->
					<div>
						<img alt="추천 동화 10선 "src="/static/image/teddy.jpg" class="banner-image">
						<span class="image-text">아가야들이 좋아하는 동화 10선</span>
					</div>
					<div>
						<img src="/static/image/car.jpg" class="banner-image">
						<span class="image-text">어쩌구 저쩌구 추천 30작</span>
					</div>
				
				</div>
				
				<div class="d-flex my-4 justify-content-between"> 
					<div class="bg-secondary seller-info">
						<div>베스트셀러</div>
					</div>
					<div class="bg-warning seller-info">
						<div>신간</div>
					</div>
				</div>
				
		
		
		</section>

<script layout:fragment="script"></script>

</html>