<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
     

		<section layout:fragment="contents" class="contents ">
		
		<!--  리스트 테스트 후 수정예정 -->
		
		<div>
		<!-- 
		<div class="d-flex" th:each="search : ${total}">
			<h6>전체</h6>
			<h6 th:text="${search.totalResults}">00건</h6>
		</div>
		 -->
		 <div class="d-flex align-items-center justify-content-between mx-3 mt-3">
			 <div class="d-flex">
				<div class="mr-2" th:if="${books.query !=null}" th:text="|' ${books.query} ' 검색 결과|">'검색어' 검색 결과  </div>
				<h5 class="font-weight-bold mr-2">전체</h5>
				<h5 class="text-success font-weight-bold" th:text="|${books.totalResults} 건|" id="totalResults" th:value="${books.totalResults}">00건</h5>
			 </div>
			 
			<div class="d-flex align-items-center justify-content-end my-3">
				<!--  <h6><input type="checkbox"> 전체선택</h6>  체크박스 -->
				<select class="form-control select mr-2" id="maxResultSel">
					<option th:selected="${maxResults == 10}" value="10">10개씩 보기</option>
					<option th:selected="${maxResults == 20}" value="20">20개씩 보기</option>
					<option th:selected="${maxResults == 50}" value="50">50개씩 보기</option>
				</select>
				<button type="button" class="btn btn-light btn-outline-secondary mx-2" id="allSelectBtn">전체선택</button>
				<button type="button" class="btn btn-light btn-outline-secondary mx-2 cartBtn">장바구니</button>
				<button type="button" class="btn btn-light btn-outline-secondary mx-2"><i class="bi bi-heart"></i></button>
			</div>
		</div>
		<!-- 
			<div class="d-flex align-items-center book-info p-2 m-3 justify-content-center"  th:if="${books.query == null}" >
				<div class="h4 font-weight-bold font-italic"> 검색어를 입력해주세요
			</div>
		 -->
			
			<div class="d-flex align-items-center book-info p-2 border m-3" th:each="book, status: ${books.item}">
				<div class="mx-3 info-checkbox">
				<span th:text="${status.count}"></span>
					<input type="checkbox" th:data-item-id="${book.itemId}" class="item-checkbox">
				</div>
				<img th:src="${book.cover}" class="info-img">
				<div class="mx-3 info-title">
					<a th:href="|/nunubooks/product?itemId=${book.itemId}|" class="text-dark">
					<h5 class="font-weight-bold" th:text="${book.title}">책 제목 어쩌구저쩌구</h5>
					</a>
					<h6 th:text="|${book.author}|">저자</h6>
					<div class="d-flex align-items-center">
						<h6 th:text="${book.publisher}">출판사</h6>
						<h6 class= "ml-3" th:text="${book.pubDate}">출판일</h6>
					</div>
				</div>
				<div class="mx-3 info-price" th:if="${book.stockStatus =='품절'}">품절</div>
				<div class="mx-3 info-price" th:if="${book.stockStatus =='절판'}">절판</div>
				<div class="mx-3 info-price" th:if="${book.stockStatus ==''  or book.stockStatus =='예약판매'}">
					<del><span th:text="|${#numbers.formatInteger(book.priceStandard, 3, 'COMMA')} 원|">정가 </span></del>
					<span class="text-success font-weight-bold h6" th:text="|(${book.discount}%)|">(10%)</span> 
					<span class="font-weight-bold text-primary ml-1" th:text="|${#numbers.formatInteger(book.priceSales, 3, 'COMMA')} 원|">할인가</span>
					<div class="font-weight-bold text-info ml-1 text-small" th:text="|(${#numbers.formatInteger(book.mileage, 3, 'COMMA')} point)|">포인트</div>
				</div>
				
				
				<div class="info-cart" th:if="${book.stockStatus ==''}">
					<div class="text-center my-3">
						<button type="button" class="btn btn-outline-secondary cartBtn" th:data-item-id="${book.itemId}">장바구니</button>
					</div>
					<div class="text-center my-3">
						<button type="button" class="btn btn-outline-secondary">바로구매</button>
					</div>
				</div>
				<div class="info-cart" th:if="${book.stockStatus =='예약판매'}">
					<div class="text-center my-3">
						<button type="button" class="btn btn-outline-secondary cartBtn" id="preOrderBtn" th:data-item-id="${book.itemId}">예약하기</button>
					</div>
				</div>
				
									
			</div>
		
		<!--  페이지 넘버 -->
			<div class="d-flex align-items-center justify-content-center">
				<div class="chevron" id="prevBtn"><i class="bi bi-chevron-compact-left"></i></div>
				<div class="pageNum-now number-wrapper">1</div>
<!-- 
				<div class="pageNum">2</div>
 -->

				<div><i class="bi bi-three-dots text-secondary"></i></div>
				<div class="pageNum">10</div>
				<div class="chevron" id="nextBtn"><i class="bi bi-chevron-compact-right"></i></div>
			</div>
		</div>
		
		</section>

<script src="./pagination.min.js"></script>
<script layout:fragment="script">


	$(document).ready(function(){
	
		
		//페이지네이션
		
		const totalResults = $("#totalResults").val();
		const maxResults = $("#maxResultSel").val();
		
		const getTotalPageCount = () => {
			  return Math.ceil(totalResults / maxResults);
			};
		
		
		const numberButtonWrapper = document.querySelector('.number-button-wrapper');
		
		
		
		$("#maxResultSel").on("change",function(){
            // alert();
           let maxResults = $(this).val();
           if (!maxResults) {
               maxResults = 10;
           }
 //          alert(maxResults);
         
           // jquery test06
           // name이 member인 input 태그 중에서 선택된 input태그 의 value 속성 가져오기 
                               // $("input[name=type]:checked")
           let query = $("input[name='query']").val();

           let baseUrl = "/nunubooks/searchList";
           
           location.href = baseUrl + "?query=" + query + "&maxResults=" + maxResults;
		});

		
		
		$(".cartBtn").on("click",function(){
		let itemId = $(this).data("item-id");
		// let userId = null; client를 구분하기 위한 값은 서버에서 처리한다고 생각해주기.
        let quantity = 1;

//	alert(itemId);
// 로그인 안해도 장바구니에 저장될 수 있도록         
        
		$.ajax({

			type:"post"
			,url:"/cart/add"
			,data:{"itemId":itemId,"quantity":quantity}
			,success:function(response){

				if(response.result =="success"){
					alert("담기 성공!");
				} else {
					alert("담기 실패")
				}
			}
			,error:function(){
				alert("오류!!")
			}
		});
		
		});
	
		
	});


</script>

</html>