		<nav class="menu navbar">
			<ul class="nav nav-pills font-weight-bold">
				<li class="nav-item mr-4 ml-2"><a class="search-icons bi bi-list font-weight-bold h4" href="#" style="color:#1B9A41"></a></li>
				<li class="nav-item mr-4"><a href="#" style="color:#1B9A41">국내도서</a></li>
				<li class="nav-item mr-4"><a href="#" style="color:#1B9A41">해외도서</a></li>
				<li class="nav-item mr-4"><a href="#" style="color:#1B9A41">베스트셀러</a></li>
				<li class="nav-item"><a href="#" style="color:#1B9A41">eBook</a></li>
			</ul>
		</nav>