@charset "UTF-8";


#wrap{
	/*
	width:1500px;
	height:1000px;
	*/
	margin: 0 auto;
}

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900
*/
.noto-sans-kr {
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.black-han-sans-regular {
  font-family: "Black Han Sans", serif;
  font-weight: 500;
  font-style: normal;
}



header{
	height:180px;
}

.logo{
width: 288px;
height: 93px;



font-family: 'Black Han Sans';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 80px;
align-items: center;
text-align: center;

color: #7CC491;
-webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: #1F7B3B;

	
}

.logo-color{
color: #7CC491;
	
}

.search-bar{
	width:540px;
	height:50px;
}
.search-icons{
	width:40px;
	height:40px;
}
	
.search-tab{
	width:450px;
}



.contents{
	width:1200px;
}


.menu{
	height:60px;
	background-color: #F4FFF8;
}	
.order-menu{
	
	height:40px;
	background-color: #F4FFF8;
}
.menu-text{
	
	color:#1B9A41;
}

.checkbox {
	color:#65558F;
	
}

.join-ad{
	height:120px;
	background-color : #FEF9F9"
}

.banner {
	
	width:1400px;
	height:320px;
}

.banner-image {
	height:300px;
	object-fit: cover;
	border-radius: 15px;
	z-index:3;
}

.image-text {
	width:300px;
	word-break:keep-all;
	position: absolute;
	z-index:1;
	color:white;
	font-weight:bold;
	font-size:38px;
}

.book-image {
	width:250px;
	height:340px;
}

.seller-info{
	width:600px;
	height:400px;
}


.info-btn {
	width:300px;
	height:50px;
	text-align: center;
	font-weight: bolder;
	vertical-align: middle;
	/*
	background-color: #F4FFF8;
	*/
}

.btn-lgn{
	background-color: #F4FFF8;
}


.cart-box{
	width:900px;
	height:150px;
}

.cart-title{
	width:400px;
}
.cart-price{
	width:100px;
}
.cart-book-img{
	width:90px;
	height:120px;
	object-fit: comtain;
}


	/*
.join-info {
	width:270px;
	height:50px;
	font-weight: bolder;
}
	*/

.contents > .input-box {
	
	width: 640px;
 	margin-top:80px;
}

.book-info{
	width:1200px;
	height:200px;
}
.info-checkbox{
	width:20px;
}
.info-img{
	width:140px;
	height:170px;
	object-fit: contain;
	
}
.info-title{
	width:700px;
}
.info-price{
	width:150px;
}
.info-cart{
	width:100px;
}

.pageNum-now{
	width:20px;
	height:20px;
	color:#F4FFF8;
	background-color: #7CC491;
	border-radius: 20%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	margin-right:4px;
}
.pageNum{
	width:20px;
	height:20px;
	color:#b8b8b8;
	background-color: #F4FFF8;
	border-radius: 20%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	margin-right:4px;
}

.outline{
	border:solid 1px #E7E5E5;
	padding: 4% 10%;
	/* 세로방향 | 가로방향 */
}

.bg-lyw{
	 background-color : #FCF6CC;
}

.bg-mgn{
	 background-color: #F4FFF8;
}


footer{
	color:#797979;
	height:60px;
}