<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
     

		<section layout:fragment="contents" class="d-flex justify-content-center">
		
			<div class="contents">
		
				<div class="input-box mb-4 border">
					
					<div class="info-btn btn-lgn border border-dark border-bottom-0  d-flex align-items-center justify-content-center">
						<h3>내 계정 찾기</h3>
					</div>
							<!-- 
					<div class="border-bottom">
						<h3>내 계정 찾기</h3>
					</div>
							 -->
				<div class="outline">
					<div>
						<h4>아이디 / 비밀번호 찾기</h4>
					</div>
				
				<button type="button" class="btn  btn-lgn btn-outline-secondary my-2">회원 정보에 등록된 이메일로 찾기</button>
					<!--  버튼 누르면 인풋창 show -->
					<div class="findbyEmail">
						<div>
							<input type="text" class="form-control my-2 userNameInput" placeholder="이름">
						</div>
						<div>
							<input type="text" class="form-control my-2 findInfoInput" placeholder="이메일">
						</div>
						<div class="d-flext justify-content-end my-2">
							<button class="btn btn btn-outline-secondary">찾기</button>
						</div>
					</div>
				
				<button type="button" class="btn btn-lgn btn-outline-secondary my-2">회원 정보에 등록된 휴대폰으로 찾기</button>
					<!--  버튼 누르면 인풋창 show -->
					<div id="#findbyPhone">
						<div>
							<input type="text" class="form-control my-2 userNameInput" placeholder="이름">
						</div>
						<div>
							<input type="text" class="form-control my-2 findInfoInput" placeholder="휴대폰 번호" >
						</div>
						<div class="d-flext justify-content-end my-2">
							<button class="btn btn btn-outline-secondary findBtn" >찾기</button>
						</div>
					</div>
				
				<!-- 
				<div class="border btn-lgn">
					<h4>새로운 비밀번호 설정하기</h4>
				</div>
				 -->
	
				</div>
			</div>
				
				
				
				
				<div class="col-4 border">
					<div class="my-4">
						<span>고객님의 아이디는 </span>
						<span class="text-success font-weight-bold">00000</span>
						<span>입니다</span>
					</div>
					<a href="/nunubooks/account/login" class="btn btn-outline-secondary mb-4">로그인</a>
				</div>
				
				<div class="col-4 border">
					<div class="my-4">
						<span>고객님이 설정하신 비밀번호는 </span>
						<span class="text-success font-weight-bold">00000</span>
						<span>입니다</span>
					</div>
					<a href="/nunubooks/account/login" class="btn btn-outline-secondary mb-4">로그인</a>
				</div>
				
				
				<div class="col-4 border">
					<h5 class="font-weight-bold mt-4">새로운 비밀번호를 설정해주세요</h5>
					<input type="password" placeholder="비밀번호" id="newPwInput" class="form-control my-2">
					<input type="password" placeholder="비밀번호 확인" id="newPwConfirmInput" class="form-control my-2">
					<button type="button" class="btn btn-success mb-4">설정완료</button>
				</div>
			<!-- ↓ -->	
				<div class="col-4 border">
					<div class="my-3">새로운 비밀번호 설정이 완료되었습니다.</div>
					<a href="/nunubooks/account/login" class="btn btn-outline-secondary mb-4">로그인</a>
				</div>
				
				
				
		</div>
	
	
	
	
		</section>
		
		<script layout:fragment="script">
		
		$(document).ready(function(){

			let name =$(".userNameInput").val();
			// 뭐지...?? 
			let userInfo = $(".findInfoInput").val();
			
			// 비밀번호 찾기 -> 버튼을 누르면 비밀번호 새로 설정할 수 있게 해야함...냅다 비번 알려주면 x 
			
			
			$(".findBtn").on("click",function(){

				$.ajax({

					type:"post"
					,url:"/user/findId"
					,data:{"name":name,"userInfo":userInfo}
					,success:function(){}
					,error:function(){}
				});
			
				
				
			});
			
			
			
		
		
		
		});
		
		
		</script>

</html>