<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
     

		<section layout:fragment="contents" class="d-flex justify-content-center">
		
			<div class="contents"> <!--  회원가입 전체 틀 -->
				<div class="d-flex align-items-center join-ad">  <!--  회원가입시 어쩌고저쩌고 특전 안내  -->
					<h2 class=" font-weight-bold ml-4 logo-color">
					  누누북스 회원가입
					</h2>
					<h4 class="ml-4 font-weight-bold"> <!--  회원가입시 어쩌고저쩌고 특전 안내  -->
					  회원가입시 적립금 3000p 증정! 
					</h4>
				</div>
				<div class="d-flex"> <!-- 회원가입 대상 구분 --> <!--  div 안에 div 따로 줘서 하나하나 주는것도...  -->
					<button class="info-btn btn-lgn btn rounded-0">만 14세 이상 일반 개인 회원</button>
					<button class="info-btn btn rounded-0">만 14세 미만 어린이 회원</button>
					<button class="info-btn btn rounded-0">법인/ 단체 회원</button>
					<button class="info-btn btn rounded-0">해외 거주자</button>
					<!-- 
					<div class="info-btn">만 14세 미만 어린이 회원</div>
					<div class="info-btn">법인/ 단체 회원</div>
					<div class="info-btn">해외 거주자</div>
					 -->
				</div>
				
					
				<div class="d-flex border-top">
					<div class="border-right col-3 d-flex align-items-center justify-content-center font-weight-bold">
				 		약관동의
					</div>
					
					<div class="col-9">
					<textarea class="border-0 w-100" rows="10" > <!--  이용약관 -->
					
					</textarea>
					</div>
				</div>
				
				<div class="d-flex border-top">
					<div class="border-right col-3 d-flex align-items-center justify-content-center">
						<div class="font-weight-bold">
					 		기본 정보 입력 
						<div>
					 		<span class="text-primary">*</span> 필수항목
						</div>
						</div>
					</div>
					<div class="col-9 p-3">
					<table class="table table-borderless w-75">
						<tr>
							 <th>
							 이름
							 <span class="text-primary">*</span>
							 </th>
							<td>
								<input type="text" class="form-control w-50" id="nameInput">
							</td>
						</tr>
						<tr>
							 <th>
							 아이디
							 <span class="text-primary">*</span>
							 </th>
							<td class="d-flex">
								<input type="text" class="form-control" id="idInput">
								<button type="button" class="btn btn-outline-secondary w-50 ml-2" id="dupBtn">중복 확인</button>
							</td>
						</tr>
						<tr>
							 <th>
							 이메일
							 <span class="text-primary">*</span>
							 </th>
							<td class="d-flex align-items-center">
								<input type="text" class="form-control" id="emailInput">
								<span>@</span>
								<input type="text" class="form-control d-none" id="fillEmail">
								<select class="form-control text-center">
									<option selected value="1">직접입력</option>
	                                <option value="naver.com">naver.com</option>
	                                <option value="gmail.com">gmail.com</option>
	                                <option value="nate.com">nate.com</option>
	                                <option value="hanmail.net">hanmail.net</option>
	                                <option value="daum.net">daum.net</option>
								</select>
							</td>
						</tr>
						<tr>
							 <th>
							 비밀번호
							 <span class="text-primary">*</span>
							 </th>
							<td>
								<input type="password" class="form-control" id="passwordInput">
							</td>
						</tr>
						<tr>
							 <th>
							 비밀번호 재입력
							 <span class="text-primary">*</span>
							 </th>
							<td>
								<input type="password" class="form-control" id="passwordConfirmInput">
							</td>
						</tr>
						<tr>
							 <th>
							 주소
							 <span class="text-primary">*</span>
							 </th>
							<td>
								<div class="d-flex">
								<input type="text" class="form-control w-25"> <!-- 다음 주소 api 활용 -->
								<button type="button" class="btn btn-outline-secondary w-25 ml-2" id="postCodeBtn">우편번호 찾기</button>
								</div>
								<input type="text" class="form-control mt-2 w-75" placeholder="주소" id="address"> 
								<input type="text" class="form-control mt-2 w-75" placeholder="상세 주소 입력" id="detailAddress"> 
							</td>
						</tr>
						<tr>
							 <th>
							 휴대전화
							 <span class="text-primary">*</span>
							 </th>
							<td class="d-flex align-items-center justfiy-content-between">
								<input type="text" class="form-control" id="phoneInput1">
								<span> - </span>
								<input type="text" class="form-control" id="phoneInput2">
								<span> - </span>
								<input type="text" class="form-control" id="phoneInput3">
							</td>
						</tr>
					</table>
					
					</div>
				</div>
					<div class="d-flex align-items-center justify-content-around my-5">
						<button type="button" class="btn btn-danger col-3" id="prevBtn">이전화면</button>
						<button type="button" class="btn btn-primary col-3" id="signUpBtn">회원가입하기</button>
					</div>
				
				
				
			</div> <!--  회원가입 전체 닫는 -->
			
			
		
		
		
		</section> <!--  section 닫는  -->
		

		





  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script layout:fragment="script">
	
	$(document).ready(function(){
	
		$("#signUpBtn").on("click",function(){

			
			alert("클릭!"); 
			
			let name = $("#nameInput").val();
			let userId = $("#idInput").val();
			let email = $("#emailInput").val();
			let password = $("#passwordInput").val();
			let passwordConfirm = $("#passwordConfirmInput").val();
			
			let phoneNumber1 = $("#phoneInput1").val();
			let phoneNumber2 = $("#phoneInput2").val();
			let phoneNumber3 = $("#phoneInput3").val();
			
			
			let phoneNumber = phoneNumber1 + "" + phoneNumber2 + "" + phoneNumber3;
			
			
			
			alert(phoneNumber);
			
			if(name ==""){
				alert("이름을 입력해주세요");
				return;
			}
				
			if(userId ==""){
				alert("아이디를 입력해주세요");
				return;
			}
				
			if(email ==""){
				alert("이메일을 입력해주세요");
				return;
			}
				
			if(password ==""){
				alert("패스워드를 입력해주세요");
				return;
			}
				
			if(passwordConfirm != password){
				alert("패스워드가 일치하지 않습니다");
				return;
			}
			
			if(phoneNumber1 == "" | phoneNumber2 == "" | phoneNumber3 == ""){
				alert("전화번호를 입력해주세요");
				return;
			}
			
			
			
			
			
		});
		
	
	});


</script>

</html>