<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
     

		<section layout:fragment="contents">
		<div class="d-flex container">
			<nav class="nav flex-column category border-right mr-4">
			<div class="mt-4 mypage mr-1 border-bottom">
				<h4 class="font-weight-bold mt-3">마이 페이지</h4>
				<div class="mr-2 mt-2">
					<div  th:text="|${session.userName} 님 |">김뫄뫄님</div>
					<div class="small logo-color font-weight-bold" th:text="|(${#numbers.formatInteger(session.userPoint, 3, 'COMMA')} point)|">포인트</div>
				</div>
			</div>
				<div class="mr-1 text-center  mt-4">
					<h6 class="font-weight-bold mb-2">쇼핑 내역</h6>
					  <a class="nav-link text-dark" href="/nunubooks/order/orderHistory">주문 내역</a>
					<h6 class="font-weight-bold mb-2">회원정보</h6>
					  <a class="nav-link text-dark" href="/nunubooks/account/userInfo">회원정보 수정</a>
					  <!-- 
					  <a class="nav-link text-dark" href="#">카테고리3</a>
					  <a class="nav-link text-dark" href="#">카테고리4</a>
					   -->
				</div>
			</nav>
			
			<div class="contents">
			
					<div  class="order-header d-flex justify-content-between align-items-center border-bottom">
						<h3 class="font-weight-bold" >회원정보 수정</h3>
						
					</div>
			<div>
						<h4 class="font-weight-bold my-3">
					 		기본 정보 입력 
						</h4>
					<div class="col-10 p-3">
						<table class="table table-borderless">
							<tr>
								 <th>
								 이름
								 </th>
								<td>
									<span th:text="${user.name}">김뫄뫄</span>
								</td>
							</tr>
							<tr>
								 <th>
								 아이디
								 </th>
								<td>
									<span th:text="${user.loginId}">admin123</span>
								</td>
							</tr>
							<tr>
								 <th>
								 이메일
								 </th>
								 <td>
									 <div>
										  <span th:text="${user.email}">abc@aaa.com </span>
									 </div>
								 </td>
									<td class="d-none">
									<div class="d-flex align-items-center">
										<input type="text" class="form-control" id="emailInput">
										<span>@</span>
										<input type="text" class="form-control d-none" id="fillEmail">
										<select class="form-control text-center" id="domainSel">
			                                <option selected value="1">이메일 선택</option>
			                                <option value="naver.com">naver.com</option>
			                                <option value="gmail.com">gmail.com</option>
			                                <option value="nate.com">nate.com</option>
			                                <option value="hanmail.net">hanmail.net</option>
			                                <option value="daum.net">daum.net</option>
											<option value="self-domain">직접입력</option>
										</select>
									</div>
									</td>
									<td>
									<div>
										<button type="button" class="btn btn-outline-secondary ml-4">변경</button>
									</div>
								</td>
							</tr>
							<tr>
								 <th>
								 새 비밀번호
								 </th>
								<td>
									<input type="password" class="form-control" id="passwordInput">
								</td>
							</tr>
							<tr>
								 <th>
								 새 비밀번호 확인
								 </th>
								<td>
									<input type="password" class="form-control" id="passwordConfirmInput">
									<div class="small text-danger d-none" id="notsamePw">비밀번호가 일치하지 않습니다</div>
								</td>
							</tr>
							<tr>
								 <th>
								 주소
								 </th>
								<td>
									<div>
										<div th:text="|(${user.postcode})|">00000</div>
										<div th:text="${user.address}">뫄뫄시 롸롸동 솨솨아파트</div>
									</div>
								</td>
								<td class="d-none">
									<div class="d-flex">
									<input type="text" class="form-control w-25" id="postcode"> <!-- 다음 주소 api 활용 -->
									<button type="button" class="btn btn-outline-secondary w-25 ml-2" id="postCodeBtn">우편번호 찾기</button>
									</div>
									<input type="text" class="form-control mt-2 w-75" placeholder="주소" id="addr"> 
									<input type="text" class="form-control mt-2 w-75" placeholder="상세 주소 입력" id="detailAddr"> 
								</td>
								 <td>
									<div>
										<button type="button" class="btn btn-outline-secondary ml-4">변경</button>
									</div>
								</td>
							</tr>
							<tr>
								 <th>
								 휴대전화
								 </th>
								 <td>
									<div>
										<span th:text="${user.phoneNumber}">010-1111-1111</span>
									</div>
								</td>
								<td class="d-none">
									<div class="d-flex align-items-center justfiy-content-between">
										<input type="text" class="form-control" id="phoneInput1">
										<span> - </span>
										<input type="text" class="form-control" id="phoneInput2">
										<span> - </span>
										<input type="text" class="form-control" id="phoneInput3">
									</div>
								</td>
								 <td>
									<div>
										<button type="button" class="btn btn-outline-secondary ml-4">변경</button>
									</div>
								</td>
							</tr>
						</table>
					
					</div>
				</div>
			<div class="d-flex justify-content-center my-4">
				<button type="button" class="btn btn-success" id="editBtn">확인</button>
			</div>
			
			
			</div><!-- contents -->
		</div><!-- container -->
		</section>



	<script layout:fragment="script">
	
	$(document).ready(function(){

		// 비밀번호 변경
		// 비밀번호를 변경하는게 우선된 로직
		$("#editBtn").on("click",function(){
			let password = $("#passwordInput").val();
			let passwordConfirm = $("#passwordConfirmInput").val();
		
			if(password ==""){
				alert("패스워드를 입력해주세요");
				return;
			}
				
			if(passwordConfirm != password){
				$("#notsamePw").removeClass("d-none");
				return;
			}
			// 비밀번호가 변경안되는 경우도 있다... 
			
			$.ajax({

				type:"put"
				,url:"/user/update/user"
				,data:{"password":password}
				,success:function(response){
		
					if(response.result == "success"){
						alert("변경 완료");
					} else{
						alert("양식을 다시 확인해 주세요")
					}
				}
				,error:function(){
					alert("회원정보 수정 오류!!")
					}
				
				});
				
		// 비밀번호를 변경하지 않는 경우. 변경 버튼을 눌러서 나머지를 수정하는 경우. 생각하기 
		
		});
	});
	
	</script>

</html>