<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
     

		<section layout:fragment="contents">
		<div class="d-flex container">
			<nav class="nav flex-column category border-right mr-4">
			<div class="mt-4 mypage mr-1 border-bottom">
				<h4 class="font-weight-bold mt-3">마이 페이지</h4>
				<div class="mr-2 mt-2">
					<div  th:text="|${session.userName} 님 |">김뫄뫄님</div>
					<div class="small logo-color font-weight-bold" th:text="|(${#numbers.formatInteger(session.userPoint, 3, 'COMMA')} point)|">포인트</div>
				</div>
			</div>
				<div class="mr-1 text-center  mt-4">
					<h6 class="font-weight-bold mb-2">쇼핑 내역</h6>
					  <a class="nav-link text-dark" href="/nunubooks/order/orderHistory">주문 내역</a>
					<h6 class="font-weight-bold mb-2">회원정보</h6>
					  <a class="nav-link text-dark" href="/nunubooks/account/userInfo">회원정보 수정</a>
					  <!-- 
					  <a class="nav-link text-dark" href="#">카테고리3</a>
					  <a class="nav-link text-dark" href="#">카테고리4</a>
					   -->
				</div>
			</nav>
			
			<div class="contents">
			
					<div  class="order-header d-flex justify-content-between align-items-center border-bottom">
						<h3 class="font-weight-bold" >회원정보 수정</h3>
						
					</div>
			<div class="my-4">
				<h4 class="font-weight-bold">비밀번호 확인</h4>
				<h6>안전한 개인정보보호를 위해 비밀번호를 입력해 주세요.</h6>
			</div>
			
			<table class="table table-borderless col-6">
				<tr>
					<th>비밀번호</th>
					<td>
						<input type="password" class="form-control" id="passwordInput">
						<div class="text-danger small d-none" id="difPwAlt">비밀번호를 확인해주세요</div>
					</td>
				</tr>
			</table>
			<div class="d-flex justify-content-center">
				<button type="button" class="btn btn-success" id="enterInfoBtn">확인</button>
			</div>
			
			
			</div><!-- contents -->
		</div><!-- container -->
		</section>



	<script layout:fragment="script">
	
	$(document).ready(function(){

		$("#enterInfoBtn").on("click",function(){

//			alert("클릭");

			var password = $("#passwordInput").val();
			// 아이디 중복여부 같이 ... 
			// 비밀번호가 user 정보와 다르면 $("#difPwAlt").removeClass("d-none");
//			if(password){}

/*
			$.ajax({
				type:"get"
				,url:"/user/same-pw"
				,data:{"password":password}
				,success:function(response){
					
					if(response.isSame) { // 중복이면
						$("#difPwAlt").addClass("d-none");
					}else{
						$("#difPwAlt").removeClass("d-none");
					}
			}
			, error:function(){
				alert("비밀번호 일치 오류! ");
			}	
				
			});

*/

			$.ajax({

			type:"post"
			,url:"/user/enter-info"
			,data:{"password":password}
			,success:function(response){

				if(response.result == "success"){
						$("#difPwAlt").addClass("d-none");
					location.href="/nunubooks/account/userInfo/user";
				} else {
	
						$("#difPwAlt").removeClass("d-none");
//					alert("접근 오류")
				}
			}
			,error:function(){

			alert("에러 발생");
			}
			});

		});
	
	});
	
	</script>

</html>